@import "tailwindcss";

@theme inline {
  --color-background: #efefef;
  --font-sans: var(--font-montreal);
  --font-display: var(--font-arp-display);
  --spacing-9xl: 99rem;
  --spacing-10xl: 119rem;
  --spacing-7.5-percent: 7.5%;
  --spacing-7-percent: 7%;
  --spacing-26: 6.25rem;
  --breakpoint-3xl: 153.125rem;
}
